{% extends 'base.html' %}
{% block title %}Cities list{% endblock %}
{% block content %}
<h1> Cities list </h1>
<div class="row">
    <div class="col-md">
        {% for object in objects_list %}
<!--            <div class="row">
                <div class="col-md-4">
                    <a href="{% url 'cities:home' %}{{object.id}}/">
                        <button type="button" class="btn btn-light">{{object.name}}</button>
                    </a>
                </div>
            </div>-->
            <p>{{object.name}}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}